input::placeholder{
    color: #AFAFAF;
    font-style: italic;
}

.inputSection{
    width: 100%;
    padding: 0 24px;
    text-align: left;
    color: #293845;
    font-size: 18px;
}

.inputSection input{
    width: 100%;
    padding:10px;
    height:51px;
    border: 1px solid #D4D4D4;
    margin: 5px 0;
    font-size: 18px;
    color: #293845;
    outline: none;
    border-radius: 3px;
}