.selectedBox{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #DFE6ED;
    height: 117px;
    border: 1px solid #9EADBA;
}

.selectedInfo{
    margin:14px 10px;
    height: 89px;
    display: flex;
    align-items: center;
}

.selectedInfo p{
    margin: 3px 0 3px 14px;
    font-size:26px;
    color:#293845;
    text-align: left;
}
.movies{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.movie.footer{
    width: 64px;
    height: 89px;
    background: white;
    margin: 0;
}

.movie.footer img{
    width: 48px;
    height: 72px;
    margin:8px;
}
