.display{
    margin-top: 67px;
    margin-bottom: 117px;
    border: 1px solid #fff;
    text-align: center;
}

.display h1{
    margin: 45px 0;
    font-size:24px;
    color:#293845;
}

.display.seatsSection h1{
    margin: 20px 0;
}

.seatsList{
    margin: 0 20.5px 50px 20.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.seatsList button{
    width: 26px;
    height: 26px;
    font-size: 11px;
    margin: 9px 3.5px;
    text-align: center;
    background: #C3CFD9;
    border-radius: 50px;
    border: 1px solid #808F9D;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
}